In [1]:
import math
import pandas as pd
import altair as alt
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf
import seaborn as sns
from statsmodels.tools import eval_measures
alt.renderers.enable('notebook')

RendererRegistry.enable('notebook')

In [2]:
nflis_data = pd.read_csv("2018_MCMProblemC_DATA/updated_nflis_data.csv")

In [3]:
nflis_data.head()

,Year,State,County,SubstanceName,DrugReports,DrugReportsCounty,TotalDrugReportsCounty,DrugReportsState,TotalDrugReportsState,County_Rate,State_Rate,County_Rate_Total,State_Rate_Total
0,2010,VA,PITTSYLVANIA,Methadone,2,16,182,8685,41462,0.1250,0.000230,0.010989,0.000048
1,2010,VA,PITTSYLVANIA,Heroin,1,16,182,8685,41462,0.0625,0.000115,0.005495,0.000024
2,2010,VA,PITTSYLVANIA,Hydrocodone,7,16,182,8685,41462,0.4375,0.000806,0.038462,0.000169
3,2010,VA,PITTSYLVANIA,Oxycodone,5,16,182,8685,41462,0.3125,0.000576,0.027473,0.000121
4,2010,VA,PITTSYLVANIA,Morphine,1,16,182,8685,41462,0.0625,0.000115,0.005495,0.000024

In [20]:
print(len(set(nflis_data['SubstanceName'])))

69

In [ ]:
def count_d

Pethidine

In [14]:
Pethidine_data = nflis_data.loc[nflis_data['SubstanceName'] == 'Pethidine']
state_lst = list(Pethidine_data['State'])
Pethidine_data_dict = {
    'KY': state_lst.count('KY'),
    'OH': state_lst.count('OH'),
    'PA': state_lst.count('PA'),
    'VA': state_lst.count('VA')
}

In [15]:
Pethidine_data_dict

{'KY': 5, 'OH': 1, 'PA': 5, 'VA': 1}

In [24]:
Thebaine_data = nflis_data.loc[nflis_data['SubstanceName'] == 'Thebaine']
state_lst = list(Thebaine_data['State'])
Thebaine_data_dict = {
    'KY': state_lst.count('KY'),
    'OH': state_lst.count('OH'),
    'PA': state_lst.count('PA'),
    'WV': state_lst.count('WV')
} 
Thebaine_data_dict

{'KY': 1, 'OH': 2, 'PA': 1, 'WV': 1}

In [22]:
set(Thebaine_data['State'])

{'KY', 'OH', 'PA', 'WV'}

In [25]:
Thebaine_data

,Year,State,County,SubstanceName,DrugReports,DrugReportsCounty,TotalDrugReportsCounty,DrugReportsState,TotalDrugReportsState,County_Rate,State_Rate,County_Rate_Total,State_Rate_Total
880,2010,WV,MARION,Thebaine,1,145,348,2890,8668,0.006897,0.000346,0.002874,0.000115
1810,2010,KY,WARREN,Thebaine,1,61,620,10453,29588,0.016393,0.000096,0.001613,0.000034
5457,2011,PA,PIKE,Thebaine,2,60,185,19987,86793,0.033333,0.000100,0.010811,0.000023
15573,2015,OH,BUTLER,Thebaine,2,1078,2594,37127,109150,0.001855,0.000054,0.000771,0.000018
21798,2017,OH,STARK,Thebaine,5,1155,4686,46104,119349,0.004329,0.000108,0.001067,0.000042